---
interface Props {
  title:  string;
  author: string;
  note:   string;
  genre:  string;
}

const { title, author, note, genre } = Astro.props;
---

<article class="card book-card">
  <div class="card__body">
    <div class="card__header">
      <h3 class="card__title card__title--display">
        <em>{title}</em>
      </h3>
      <span class="tag tag--genre">{genre}</span>
    </div>

    <p class="card__author">{author}</p>
    <p class="card__description">{note}</p>
  </div>
</article>
